<footer>
    <div class="f_info footer">
        <div class="f_info_social">
            <a href="https://www.facebook.com/share/16uXAkNs11/?mibextid=wwXIfr"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/rohit-kumar-yadav-79a9682a2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/kumarrohit5010"><i class="fa-brands fa-github"></i></a>
        </div>
        <div>
              &copy;Wanderlust private limited
        </div>
        <div class="f_info_links">
            <a href="/Privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>